body{
    background-color: #fff;
    font-family: 'Times New Roman', Times, serif;
}
.navbar-expand-lg{
    font-size: larger;
    background-color:red;
}
#navbarlink{
    color: white;
}
.cardhead{
    font-size: 30px;
    color: blue;
}
.formcontent{
    width: 70%;
    height: 27rem;
    background-color: wheat;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 3rem;
    border-radius: 70px;

}

/*add zoom animation*/
.animate{
    -webkit-animation: popup 10s;
    animation: popup 3s;
}

@-webkit-keyframes popup{
    from{
        -wibkit-transform: scale(0)
    }to{
        -wibkit-transform: scale(1)
    }
}
@keyframes popup{
    from{
        transform: scale(0)
    }to{
        transform: scale(1)
    }
}

input{
    align-content: center;
}

.asteriskField{
    color: red;
}
small{
    display: none;
}

#id_old_password, #id_new_password1, #id_new_password2{
    height: 3rem;    
    text-align: center;
    border-radius: 1rem;
    /* padding-bottom: 1rem; */
}
#footercard{
    background-color: black;
    color: white;
}